/*
============================================
; Title: Personal Portfolio
; File Name: site.css
; Author: Professor Krasso
; Date: 13 February 2022
; Modified By: Seth Kerrey
; Description: 
;   Styling for the index.html file.
; Resources: 
;   CSS style, classes, and id's came from guidance in the assignment instructions, 
;   style guide & buwebdev repo/web-330
;       https://github.com/buwebdev/web-330 
;       "WEB 330 HTML, CSS, and JavaScript Requirements.pdf"
===========================================
*/

/* -------------------------------- site.css -------------------------------- */
/* Body styling */
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

/* Assign styling */
.assign-container {
    padding: 10px;
}

/* .assign-content {
    width: 600px;
    margin: 3% auto 0;
} */

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

/* App-header styling */
.app-header {
    text-align: center;
    font-weight: 400;
    border: none;
    color: white;
    background-color: inherit;
}

/* Return link styling */
.return-home:link {
    color: var(--anchor-color);
    text-decoration: none;
}

.return-home:visited {
    color: var(--anchor-color-visited);
}

.return-home:hover {
    background-color: var(--anchor-color-hover);
    color: var(--anchor-color);
}

/* Styling for form */
.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.full-width {
    width: 100%;
}

/* ---------------------------------- theme.css --------------------------------- */


/* Card styling */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 3% auto 0 auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
    color: black;
}

/* Form styling */
.form { 
    display: inline-grid;
}

.form-field {
    padding: 20px;
}

/* Button styling */
.btn-new {
    border: #e82279 solid 2px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: blue;
    background-color: white;
}

.btn-new-nav {
    padding: 9px 20px !important;
}

.btn-new:hover {
    background-color: rgb(0,42,96, 0.3);
    color: white;
    text-decoration: none;
}

.btn-new a {
    color:blue;
}

.btn-new a:hover {
    color: white;
}

.full-width {
    width: 100%;
}

/* Input styling */
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color); /* replaced */
    border-radius: 4px;
    box-sizing: border-box;
}

/* Drop-down-menu styling */
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color); /* replaced */
    border-radius: 4px;
    box-sizing: border-box;
}

/* ---------------------------------- NEW css --------------------------------- */

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.card {
    width: 50vw;
}

.card-new {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 1% 1%;
    padding: 10px;
}

.card-new:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-content {
    padding-bottom: 10px;
}

/* header */ 
.header {
    height: 70px;
    font-size: 20px;
    margin-bottom: 70px;
}

.header-logo {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.navbar li {
    background-color: white;
}
/* 
.navbar li:hover {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 5px;
} */

.navbar li a:hover {
    text-decoration: none;
}

/* Landing page div */
.intro-div {
    color: white;
    font-size: 40px;
    width: 50%;
    margin: auto;
    padding-top: 100px;
    text-decoration: underline;
    text-decoration-color: #e82279;
}

/* body image */
body {
    background-image: url("img/background/background.svg"); /* Background vector created by freepik */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Modal Settings */
.modal-button {
    background-color:white !important;
    color: blue !important;
}

.modal-footer-li {
    color: black;
    font-size: 20px;
    display: inline;
}

.modal-footer-li:hover {
    cursor: pointer;
    color: blue;
}

.card-new a {
    text-decoration: none;
}

/* Carousel icon */
.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}